<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

	<variable name="flushTimeout" value="50" />
	<variable name="bufferSize" value="100000" />
	<variable name="logDirectory" value="C:\AyanTech\BillingSystem\GhabzinoBot\Logs" />
	<variable name="layout" value="[${level:uppercase=true}];[${longdate}];[${processid}];[${threadid}];${message}" />

	<targets>
		<target xsi:type="BufferingWrapper" name="allasync" slidingTimeout="false" bufferSize="${bufferSize}" flushTimeout="${flushTimeout}">
			<target name="all" xsi:type="File" encoding="utf-8"  layout="${layout}" fileName="${logDirectory}\${shortdate}#All.log"/>
		</target>
		<target xsi:type="BufferingWrapper" name="errorsasync" slidingTimeout="false" bufferSize="${bufferSize}" flushTimeout="${flushTimeout}">
			<target name="errors" xsi:type="File" encoding="utf-8"  layout="${layout}" fileName="${logDirectory}\${shortdate}#Errors.log"/>
		</target>
	</targets>

	<rules> 
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="allasync"/> 
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorsasync"/> 
	</rules> 
	
</nlog>